header#header {
    width: 100%;
    height: 12rem;

    div#titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 9rem;
        min-width: 100%;
        background-image: url('https://images.pexels.com/photos/7708409/pexels-photo-7708409.jpeg');
        background-size: cover;
        background-position: center;

        h1 {
            margin: 0;
            color: white;
            font-size: 3rem;
            text-shadow: 0px 0px 10px black;
            font-weight: 600;
        }
        
        p {
            margin: 0;
            color: white;
            text-shadow: 0px 0px 10px black;
            font-weight: 500;
            font-size: 2rem;
        }
    }

    nav#menu-nav{
        width: 100%;
        background-color: rgb(0, 81, 255);
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-left: 30px;
        
        a.link-nav {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
        }
    }
}