@import "header.css";
@import "hero-section.css";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  
}

main {
  max-width: 960px;
  margin: 0 auto;
}

footer#footer {
  height: 7vh;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
}

section#pokemon-hero-section {
  max-width: 960px;
  margin-bottom: 3rem;

  div.post-intro {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  div.content {
    margin-top: 3rem;
  }

  div.back-link {
    margin-top: 2rem;
    text-align: center;
  }

}
